AWS_REGION=ap-southeast-1

S3_DATA_BUCKET=your-bucket-name
S3_MODEL_BUCKET=your-bucket-name

SAGEMAKER_ENDPOINT_NAME=layer3-isolation-forest-mme
SAGEMAKER_ROLE_ARN=arn:aws:iam::ACCOUNT_ID:role/ROLE_NAME
